<%- include('../layouts/header') %>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 w-25">
    <h3 class="text-center mb-4">Edit Profile</h3>

    <% if (typeof message !== 'undefined'){ %> 
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% } %>

    <form action="" method="post">
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" placeholder="New Name" value="<%= user.name %>">
        <label for="name">New Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" placeholder="New Email" value="<%= user.email %>">
        <label for="email">New Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="contact" class="form-control" placeholder="New Phone Number" value="<%= user.contact %>">
        <label for="contact">New Phone Number</label>
      </div>
      <input type="hidden" name="id" value="<%= user._id %>">
      <button type="submit" class="btn btn-primary w-100">Update User</button>
    </form>
    <div class="text-center mt-3">
      <a href="/admin/dashboard" class="btn btn-secondary">Go Back to Home Page</a>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>